<!DOCTYPE html>

<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title> Vue.js</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    </head>
    <body>
        <div class="" id="show_post">
            <input type="text" v-model="newComment" v-on:keyup.enter="addComment">
            <ul>
                <li v-for="comments in comment" is="showcomment" v-bind:comment="comments"></li>
            </ul>
        </div>
        <script src="app.js" charset="utf-8"></script>
    </body>

</html>