<!DOCTYPE html>

<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title> Vue.js</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    </head>
    <body>
        <div class="" id="vue_app">
            <button type="button" name="like_button" v-on:click="eventChange()"> like</button>

            <h1 v-if="like">Hello</h1>
            <hr>
            <h1>{{array_product_list[0]}}</h1>
            <hr>
            <ul>
                <li v-for="result in array_product_list">{{result}}</li>
            </ul>
            <hr>
            <ul>
                <li v-for="result in employee">{{result.name}}</li>
            </ul>
        </div>
        <script src="app.js" charset="utf-8"></script>
    </body>

</html>