<!DOCTYPE html>

<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title> Vue.js</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    </head>
    <body>
        <div class="" id="vue_app">
            Name : <input type="text" value="" v-model="name">
            <br>
            <input type="checkbox" value="1"  v-model="test_array">
            <label>Test a</label>
            <input type="checkbox" value="2"  v-model="test_array">
            <label>Test b</label>
            <input type="checkbox" value="3" v-model="test_array">
            <label>Test c</label>
            <br>
            <input type="radio" value="male" v-model="sex">
            <label>ช</label>
            <input type="radio" value="female" v-model="sex">
            <label>ญ</label>
            <hr>
            <h1>name : {{name}} </h1>
            <h1>age  :{{age}} </h1>
            <h1>count  :{{count}} </h1>
            <h1>web : <a  v-bind:href="website" target="blank">{{website}}</a></h1>
            <br> <br>
            <h1>array check box {{test_array}}</h1>
            <hr>
            <h1>show selecxt sex : {{sex}}</h1>
            <hr>
            <input type="text" name="" v-bind:value="name">
            <input type="text" name="count_name" id="count_name"  v-on:keyup="addCount()" value="">

            <button type="button" name="button" v-on:click="addAge()">Add</button>
            <button type="button" name="button"  v-on:click="subtractAge()">subtract</button>

        </div>
        <script src="app.js" charset="utf-8"></script>
    </body>

</html>